CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
DATABASE_URL=
DELHIVERY_API_TOKEN=
DELHIVERY_RATE_API_URL=https://track.delhivery.com/api/kinko/v1/invoice/charges/.json
DELHIVERY_ORIGIN_PINCODE=500032
DIRECT_URL=
GEMINI_API_KEY=
JWT_SECRET=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
NIMBUSPOST_API_BASE_URL=https://api.nimbuspost.com/v1
NIMBUSPOST_EMAIL=
NIMBUSPOST_PASSWORD=
NIMBUSPOST_ORIGIN_PINCODE=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
VITE_RAZORPAY_KEY_ID=